html {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuxP8U9TgaohbqHLaf1nmAcM-S9nfRV48-SJ5dulHrls8maG12v3AUETj2H1lRAFnvXf0&usqp=CAU");
    font-size: 62.5%;    
}

header{
    margin-top: 5rem;
}
h1{
    font-style:normal;
    font-weight:bold;
    font-size:1.8rem;
    color: beige;
    font-family:'Helvetica','Verdana','Monaco',sans-serif;
    margin-right: 2rem;
}
p{
    font-style: normal ;
    font-size:1.6rem;
    font-weight:normal;
    text-align: left;
    text-decoration: none;
    text-indent: 0.5rem;
    white-space: normal;
    color: rgb(221, 233, 232);
    font-family: Arial, Helvetica, sans-serif; 
    /*font-family:'Helvetica','Verdana','Monaco',sans-serif;*/
}
main{
    display: flex;
    justify-content: center;
}
.imagen{
    
    height: 18rem;
    width: 29rem;
    
}

footer{
    margin-right: 0.5rem;
    margin-top: 5rem;    
    margin-left: 8rem;
    
}

ul{
    display: flex;
    justify-content: end;
            
}

.izq{
    margin-right: 0.8rem;
    margin-left: 0rem;    
}

.iconi{
    margin-right: 0rem;
    margin-left: 0rem;    
}

.der{
    margin-right: 0.7rem;
    margin-left: 0.7rem;
}

.icond{
    margin-right: 1.6rem;
    margin-left: 0rem;
    
}

footer p{
    color: coral;
    /*margin-right: 2rem;*/
    margin-top: 3.5rem;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

footer img{    
    border-radius: 50%;
    cursor: pointer;
    width: 7.7rem;
    height: 7.7rem;    
}