html {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuxP8U9TgaohbqHLaf1nmAcM-S9nfRV48-SJ5dulHrls8maG12v3AUETj2H1lRAFnvXf0&usqp=CAU");
    font-size: 62.5%;    
}

header{
    margin-top: 5rem;
}
h1{
    font-style:normal;
    font-weight:bold;
    font-size:1.8rem;
    color: beige;
    font-family:'Helvetica','Verdana','Monaco',sans-serif;
    margin-right: 2rem;
}
p{
    font-style: normal ;
    font-size:1.6rem;
    font-weight:normal;
    text-align: left;
    text-decoration: none;
    text-indent: 0.5rem;
    white-space: normal;
    color: rgb(221, 233, 232);
    font-family: Arial, Helvetica, sans-serif; 
    /*font-family:'Helvetica','Verdana','Monaco',sans-serif;*/
}
main figure{
    display: flex;
    justify-content: center;
    height: 13rem;
    margin-top: 8rem;
}
footer{
    display: flex;
    justify-content: end;
    cursor: pointer;
    margin-top: 7rem;
}

footer p{
    color: coral;
    margin-right: 2rem;
    margin-top: 3.5rem;
}

footer img{
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 88px;
    height: 88px;
    
}