html {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuxP8U9TgaohbqHLaf1nmAcM-S9nfRV48-SJ5dulHrls8maG12v3AUETj2H1lRAFnvXf0&usqp=CAU");
    font-size: 62.5%;   
}

header{
    width: 100%;
    height: 100px;
    margin-bottom: 80px;
    margin-top: 2.5rem;
}

header figure{
    display: flex;
    justify-content: center;
    height: 13rem;
    
}
header figure img{
    border-radius: 50%;

    animation: rotation 8s infinite linear;
}

h1 {
    font-style:normal;
    font-weight:bold;
    font-size:1.8rem;
    color: beige;
    font-family:'Helvetica','Verdana','Monaco',sans-serif;
}

p{
    color: rgba(221, 232, 228, 0.942);
    font-size: large;
}


footer{
    display: flex;
    justify-content: end;
}
footer p{
    color: coral;
    margin-right: 2rem;
    margin-top: 3.5rem;
}
.title{
    font-family:n ;
}

footer img{
    display: flex;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    width: 8.8rem;
    height: 8.8rem;    

}


@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(219deg);
    }
  }




/*.rotate {
    animation: rotation 8s infinite linear;
}
  
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(100deg);
    }
  }